

    <!-- <div>
            <form  #f="ngForm">
                <div> 
                Name:<input type="text" [(ngModel)]="fname" id="1" name="test">
                Last Name:<input type="text" [(ngModel)]="lname" id="2" name="test2">
                <button (click)=onclick(f.value)>Clike Me</button>
                <input (click)=onsubmit() type="submit" value="Submit">
                </div>
            </form>
            Full Name:{{fname}} {{lname}}
    </div> -->

    
    <a routerLink = "/login"></a>
    
    <a routerLink="/appspage"></a>
<router-outlet>

</router-outlet>




    